@page
@model HelpModel
@{
}
<h2>Email</h2><p />
The usage of email is fairly straightforward. You type in the name of the person you're sending to and press send. On the left is a set of dates that organize the emails by date.
<p />
<h2>Task Management</h2>
Task management is where the user selects the tasks they wish to preform for that day or week. It is displayed in the dashboard GUI when the user assigns a date and time to it. Task are ordered by first come first serve and can be controlled by anyone with the taskmaster role.
<p />
<h2>User Management</h2><p />
Here, the admin can add or remove roles that are relevent to the user. This expands or contracts in size with the overall number of roles recorded on the server. It also allows the user to be added or removed.
<p /><h2>Polls</h2>
Only the admin has the ability to poll people, but everyone can vote. They do this by going into view polls and clicking their selection. This will automatically update the results and anyone else's view will update. 
<p /><h2>Models</h2>
Models are viewed in view models. Clicking the model on the left hand side will query the server and retrieve the verticies and push them into the webgl.
<p /><h2>Lore</h2>
Lore is where the game's lore is kept for reference. The writers often complained about this. The first item is viewing the drafts. These drafts are private to the account and only displayed to everyone when they click to propose it. View proposal is for discussing stuff that people have proposed to be drafted. Finally, the role of loremaster has access to the "Enact Lore" menu option. They are the only ones who can add lore to the cannon. The final option is to view Canon, these are proposals that were discussed and passed. They're considered the law of the server.
<p /><h2>Media</h2>
Media allows us to blog our experiences and display them to the world. This will dev-blog feature supports an editor with the menu item "Write a blog." This part is not completed unfortunately." 