@page
@model WebApplication5.Pages.ChangeLogEngineModel
@{
    ViewData["Title"] = "ChangeLogEngine";
}

<h2>ChangeLog - Engine</h2>
<div class="panel panel-default" style="width:50%">
    <div class="panel-body">@Html.Raw(@Model.ChangeLog)</div>
</div>